* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' sans-serif;
    overflow-x: hidden;
}

/* navbar */

nav {
    display: flex;
    background-color: rgb(49, 49, 226);
    justify-content: space-around;
    /* padding: 20px 0; */
    color: blanchedalmond;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 0,8rem;
}

nav ul li a:hover{
    color: rgb(182, 177, 169);
}


/* hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    /* background-color: #000; */
    position: relative;
}


.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;


}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: blanchedalmond;
    border-radius: 3px;
    transition: all 0.6s ;
}


/* hamburger menu animation */


.menu-toggle span:nth-child(2) {
    /* background-color: red; */
    transform-origin: 0 0;
}


.menu-toggle span:nth-child(4) {
    /* background-color: red; */
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    border-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    border-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* responsive breakpoint */

/* ukuran tablet */
@media (max-width : 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */

@media (max-width : 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 80%;
        flex-direction: column;
        /* column karena di nav ul display sudah flex */
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(49, 49, 226);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
}

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}
    